pipeline/PL_AzureSQLtoADLSGen2.json
{
	"name": "PL_AzureSQLtoADLSGen2",
	"properties": {
		"activities": [
			{
				"name": "LKP_TOGET_METADATA",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FRom dbo.metadata where status <>'success'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSql_GetMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_TOGET_METADATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_TOGET_METADATA').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_AzureSQL_to_ADLSGEN2_Bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AzureSQL_GET_Tables",
									"type": "DatasetReference",
									"parameters": {
										"Schemaname": {
											"value": "@item().sourceschma",
											"type": "Expression"
										},
										"Tablename": {
											"value": "@item().sourcetable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Gen2_bronze_Csv",
									"type": "DatasetReference",
									"parameters": {
										"Folder": {
											"value": "@item().storagepath",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_onsuccess",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_AzureSQL_to_ADLSGEN2_Bronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[metadata_usp]",
								"storedProcedureParameters": {
									"stablename": {
										"value": {
											"value": "@item().sourcetable",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "Success",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSqldatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_onfailure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_AzureSQL_to_ADLSGEN2_Bronze",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[metadata_usp]",
								"storedProcedureParameters": {
									"stablename": {
										"value": {
											"value": "@item().sourcetable",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "failure",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSqldatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "SP_All_sucess_Update_Ready",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[reset_status]"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSqldatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-12T11:43:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}